body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel.panel-default>.panel-body {
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  background-color: #eee;
  background-color: rgba(0,0,0,.05);
  padding:5pt;
}
resizeable-view-panel {
  position:absolute;
  display:block;
  margin:5pt;

}
resizeable-view-panel>.panel.panel-default>.panel-body {
  box-shadow: 0 2px 5px rgba(0,0,0,.2) inset;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}